---
http_interactions:
- request:
    method: get
    uri: https://api.lexoffice.io/v1/invoices/59a3008f-9d96-4629-92ed-74fdbb2a4767/document
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer n2.o0c.raladGqUDySbv9ZKZaNKME0pf7W3YulfNjlaTV1TC
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 54b21bfd-97a8-47d8-92ef-e63c48de3f8d
      X-Amz-Apigw-Id:
      - KlFC0GUjFiAFoig=
    body:
      encoding: UTF-8
      string: ' { "timestamp" : "2023-09-01T15:34:48.255+02:00", "status" : 406, "error"
        : "Not Acceptable", "path": "/v1/invoices/59a3008f-9d96-4629-92ed-74fdbb2a4767/document",
        "traceId": "e63c48de3f8d", "requestId": "5d58a0d8-f734-4553-92dd-afebb81907a9",
        "message": "Requesting PDF document is not possible in state draft."  }'
  recorded_at: Fri, 01 Sep 2023 13:34:46 GMT
recorded_with: VCR 6.2.0
