---
http_interactions:
- request:
    method: post
    uri: https://api.lexoffice.io/v1/invoices
    body:
      encoding: UTF-8
      string: '{"id":null,"organizationId":null,"createdDate":null,"updatedDate":null,"version":null,"language":null,"archived":null,"voucherStatus":null,"voucherNumber":null,"voucherDate":"2023-02-22T00:00:00.000+01:00","dueDate":null,"address":{"name":"Max
        Mustermann","supplement":null,"street":null,"city":null,"zip":null,"countryCode":"DE","contactId":null},"lineItems":[],"totalPrice":{"currency":"EUR","totalNetAmount":null,"totalGrossAmount":null,"totalTaxAmount":null,"taxRatePercentage":null,"totalDiscountAbsolute":null,"totalDiscountPercentage":null},"taxAmounts":null,"taxConditions":{"taxType":"net"},"paymentConditions":null,"shippingConditions":{"shippingDate":null,"shippingType":"none"},"closingInvoice":null,"relatedVouchers":null,"introduction":null,"remark":null,"title":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer n2.o0c.raladGqUDySbv9ZKZaNKME0pf7W3YulfNjlaTV1TC
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1aac13b9-a093-4e35-887d-aa1a90b19129
      X-Amz-Apigw-Id:
      - KkR19E8RliAFrBQ=
    body:
      encoding: UTF-8
      string: '{ "id" : "97069ff9-9f75-4982-96b2-1e8ec110f374", "resourceUri": "https://api.lexoffice.io/v1/invoices/97069ff9-9f75-4982-96b2-1e8ec110f374",
        "createdDate": "2023-09-01T09:45:16.483+02:00", "updatedDate": "2023-09-01T09:45:16.484+02:00",
        "version": 1 }'
  recorded_at: Fri, 01 Sep 2023 07:45:15 GMT
recorded_with: VCR 6.2.0
