---
http_interactions:
- request:
    method: post
    uri: https://api.lexoffice.io/v1/invoices
    body:
      encoding: UTF-8
      string: '{"id":null,"organizationId":null,"createdDate":null,"updatedDate":null,"version":null,"language":null,"archived":null,"voucherStatus":null,"voucherNumber":null,"voucherDate":"2023-02-22T00:00:00.000+01:00","dueDate":null,"address":{"name":"Max
        Mustermann","supplement":null,"street":null,"city":null,"zip":null,"countryCode":"DE","contactId":null},"lineItems":[],"totalPrice":{"currency":"EUR","totalNetAmount":null,"totalGrossAmount":null,"totalTaxAmount":null,"taxRatePercentage":null,"totalDiscountAbsolute":null,"totalDiscountPercentage":null},"taxAmounts":null,"taxConditions":{"taxType":"net"},"paymentConditions":null,"shippingConditions":{"shippingDate":null,"shippingType":"none"},"closingInvoice":null,"relatedVouchers":null,"introduction":null,"remark":null,"title":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer invalid-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6c571c53-da0e-408b-8b7f-446275a21b34
      X-Amzn-Errortype:
      - UnauthorizedException
      X-Amz-Apigw-Id:
      - KkR2UGGpFiAFn7A=
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized"}

        '
  recorded_at: Fri, 01 Sep 2023 07:45:17 GMT
recorded_with: VCR 6.2.0
