---
http_interactions:
- request:
    method: post
    uri: https://api.lexoffice.io/v1/invoices
    body:
      encoding: UTF-8
      string: '{"id":null,"organizationId":null,"createdDate":null,"updatedDate":null,"version":null,"language":null,"archived":null,"voucherStatus":null,"voucherNumber":null,"voucherDate":"2023-02-22T00:00:00.000+01:00","dueDate":null,"address":{"name":"Max
        Mustermann","supplement":null,"street":null,"city":null,"zip":null,"countryCode":"DE","contactId":null},"lineItems":[],"totalPrice":{"currency":"EUR","totalNetAmount":null,"totalGrossAmount":null,"totalTaxAmount":null,"taxRatePercentage":null,"totalDiscountAbsolute":null,"totalDiscountPercentage":null},"taxAmounts":null,"taxConditions":{"taxType":"net"},"paymentConditions":null,"shippingConditions":{"shippingDate":null,"shippingType":"none"},"closingInvoice":null,"relatedVouchers":null,"introduction":null,"remark":null,"title":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer n2.o0c.raladGqUDySbv9ZKZaNKME0pf7W3YulfNjlaTV1TC
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c6a7c71f-54b8-47a4-8104-832a316afa44
      X-Amz-Apigw-Id:
      - KkR2AG-dFiAFR1Q=
    body:
      encoding: UTF-8
      string: '{ "id" : "76effdfe-70e2-435d-bdc3-701011ef3036", "resourceUri": "https://api.lexoffice.io/v1/invoices/76effdfe-70e2-435d-bdc3-701011ef3036",
        "createdDate": "2023-09-01T09:45:16.825+02:00", "updatedDate": "2023-09-01T09:45:16.827+02:00",
        "version": 1 }'
  recorded_at: Fri, 01 Sep 2023 07:45:15 GMT
recorded_with: VCR 6.2.0
