---
http_interactions:
- request:
    method: post
    uri: https://api.lexoffice.io/v1/invoices
    body:
      encoding: UTF-8
      string: '{"id":null,"organizationId":null,"createdDate":null,"updatedDate":null,"version":null,"language":null,"archived":null,"voucherStatus":null,"voucherNumber":null,"voucherDate":"2023-02-22T00:00:00.000+01:00","dueDate":null,"address":{"name":"Max
        Mustermann","supplement":null,"street":null,"city":null,"zip":null,"countryCode":"DE","contactId":null},"lineItems":[],"totalPrice":{"currency":"EUR","totalNetAmount":null,"totalGrossAmount":null,"totalTaxAmount":null,"taxRatePercentage":null,"totalDiscountAbsolute":null,"totalDiscountPercentage":null},"taxAmounts":null,"taxConditions":{"taxType":"net"},"paymentConditions":null,"shippingConditions":{"shippingDate":null,"shippingType":"none"},"closingInvoice":null,"relatedVouchers":null,"introduction":null,"remark":null,"title":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer n2.o0c.raladGqUDySbv9ZKZaNKME0pf7W3YulfNjlaTV1TC
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d3efa959-8f6b-48e7-849d-24dca234a970
      X-Amz-Apigw-Id:
      - KkR2IFvtFiAFYZw=
    body:
      encoding: UTF-8
      string: '{ "id" : "dc469e66-a60f-43ee-8567-57224dede71b", "resourceUri": "https://api.lexoffice.io/v1/invoices/dc469e66-a60f-43ee-8567-57224dede71b",
        "createdDate": "2023-09-01T09:45:17.565+02:00", "updatedDate": "2023-09-01T09:45:17.567+02:00",
        "version": 1 }'
  recorded_at: Fri, 01 Sep 2023 07:45:16 GMT
recorded_with: VCR 6.2.0
